<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Babbage</title>
</head>
<body>
    <h1>Babbage</h1>
    <section class="nav">
        <nav>
            <ul class="enlaces">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./babbage.html">Babbage</a></li>
                <li><a href="./berners-lee.html">Berners-Lee</a></li>
                <li><a href="./clarke.html">Clarke</a></li>
                <li><a href="./hamilton.html">Hamilton</a></li>
                <li><a href="./hopper.html">Hopper</a></li>
                <li><a href="./lovelace.html">Lovelace</a></li>
                <li><a href="./turing.html">Turing</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <p>Se considera que la máquina analítica de Babbage fue la primera computadora de la historia. Un diseño inicial plenamente funcional de ella fue terminado en 1835. Sin embargo, debido a problemas similares a los de la máquina diferencial, la máquina analítica nunca fue terminada por Charles.</p>
        <img src="/img/babbage.jpg" alt="babbage">
    </section>
    
</body>
</html>