<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Berners-Lee</title>
</head>
<body>
    <h1>Berners-Lee</h1>
    <section class="nav">
        <nav>
            <ul class="enlaces">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./babbage.html">Babbage</a></li>
                <li><a href="./berners-lee.html">Berners-Lee</a></li>
                <li><a href="./clarke.html">Clarke</a></li>
                <li><a href="./hamilton.html">Hamilton</a></li>
                <li><a href="./hopper.html">Hopper</a></li>
                <li><a href="./lovelace.html">Lovelace</a></li>
                <li><a href="./turing.html">Turing</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <p>   Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.</p>
        <img src="/img/tim.jpg" alt="Berners-Lee">
    </section>
 
</body>
</html>