<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Clarke</title>
</head>
<body>
    <h1>Clarke</h1>
    <section class="nav">
        <nav>
            <ul class="enlaces">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./babbage.html">Babbage</a></li>
                <li><a href="./berners-lee.html">Berners-Lee</a></li>
                <li><a href="./clarke.html">Clarke</a></li>
                <li><a href="./hamilton.html">Hamilton</a></li>
                <li><a href="./hopper.html">Hopper</a></li>
                <li><a href="./lovelace.html">Lovelace</a></li>
                <li><a href="./turing.html">Turing</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <p>El ingenioso trabajo de la británica Joan Clarke (1917–1996) como criptoanalista durante la Segunda Guerra Mundial salvó incontables vidas.
            Su talento fue suficientemente formidable como para ganarse el respeto de algunas de las mentes más brillantes del siglo XX, a pesar del sexismo de aquel tiempo.
        </p>
        <img src="/img/141111133323_mujer_enigma_joan_clarke_624x351_bbc_nocredit.jpg" alt="Clarke">
    </section>


</body>
</html>