<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Hamilton</title>
</head>
<body>
    <h1>Hamilton</h1>
    <section class="nav">
        <nav>
            <ul class="enlaces">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./babbage.html">Babbage</a></li>
                <li><a href="./berners-lee.html">Berners-Lee</a></li>
                <li><a href="./clarke.html">Clarke</a></li>
                <li><a href="./hamilton.html">Hamilton</a></li>
                <li><a href="./hopper.html">Hopper</a></li>
                <li><a href="./lovelace.html">Lovelace</a></li>
                <li><a href="./turing.html">Turing</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <p>En 1969, el código de esta matemática y pionera informática que entonces tenía 33 años fue fundamental para que Neil Armstrong y Buzz Aldrin se dieran un paseo por la Luna. En la foto la vemos sonriendo junto a una montaña de código que ella misma había tecleado y que sirvió para que el Apolo 11 pudiera cumplir con su objetivo.</p>
        <img src="/img/hamilton.jpg" alt="Hamilton">
    </section>

  
</body>
</html>