<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Turing</title>
</head>
<body>
    <h1>Turing</h1>
    <section class="nav">
        <nav>
            <ul class="enlaces">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./babbage.html">Babbage</a></li>
                <li><a href="./berners-lee.html">Berners-Lee</a></li>
                <li><a href="./clarke.html">Clarke</a></li>
                <li><a href="./hamilton.html">Hamilton</a></li>
                <li><a href="./hopper.html">Hopper</a></li>
                <li><a href="./lovelace.html">Lovelace</a></li>
                <li><a href="./turing.html">Turing</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <p> Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing.</p>
        <img src="/img/Alan_Turing_Aged_16.jpg" alt="Turing">
    </section>

    
</body>
</html>